// Colores principales
$color-fondo: #fafafa;
$color-texto: #17202A;
$color-principal: #18212A;
$color-navbar: #17202A;
$color-precio: #007b00;

// Medidas
$max-ancho: 800px;
$shadow-default: 0px 0px 10px rgba(0,0,0,0.1);