.producto {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  flex-wrap: wrap;

  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .info {
    flex: 1;
    padding: 15px;
  }

  h2 {
    margin-top: 0;
    font-size: 20px;
  }

  p {
    margin-bottom: 10px;
  }
}

.precio {
  font-weight: bold;
  font-size: 18px;
  color: $color-precio;
}

@media (max-width: 600px) {
  .producto {
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }

    .info {
      text-align: center;
    }
  }
}